In [1]:
import math
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

In [200]:
data = pd.read_csv('melb_data.csv')

In [201]:
colums_with_missing = [col for col in data.columns if data[col].isnull().any()]

In [202]:
data[colums_with_missing].isnull().sum().sort_values(ascending=False)

BuildingArea    6450
YearBuilt       5375
CouncilArea     1369
Car               62
dtype: int64

In [203]:
pd.set_option('display.max_columns', None)

In [204]:
for c in ['Bedroom2', 'Bathroom', 'Car', 'YearBuilt', 'Postcode', 'Propertycount']:
    data[c] = data[c].astype('Int64')

In [205]:
data[colums_with_missing].isnull().sum().sort_values(ascending=False)

BuildingArea    6450
YearBuilt       5375
CouncilArea     1369
Car               62
dtype: int64

In [48]:
def find_decimal_zero(x):
    return (x*10) % 10

In [64]:
data['Propertycount'].apply(find_decimal_zero).value_counts()

0.0    13580
Name: Propertycount, dtype: int64

In [206]:
data['Date'] = pd.to_datetime(data['Date'], format='%d/%m/%Y')

In [102]:
data[['Suburb','Propertycount']].groupby('Suburb').value_counts().head(30)

Suburb              Propertycount
Abbotsford          4019              56
Aberfeldie          1543              44
Airport West        3464              67
Albanvale           1899               6
Albert Park         3280              69
Albion              2185              41
Alphington          2211              34
Altona              5301              74
Altona Meadows      7630               6
Altona North        5132              56
Ardeer              1281               3
Armadale            4836              95
Ascot Vale          6567             130
Ashburton           3052              60
Ashwood             2894              46
Aspendale           2824               7
Aspendale Gardens   2243               4
Attwood             1130               1
Avondale Heights    4502              74
Bacchus Marsh       2871               1
Balaclava           2952              27
Balwyn              5682             107
Balwyn North        7809             171
Bayswater           5030              14
Bayswater North     3598               8
Beaconsfield        2332               2
Beaconsfield Upper  973                1
Beaumaris           5366              18
Bellfield           790               16
Bentleigh           6795             139
dtype: int64

In [142]:
new = []
dup = []
for i in x:
    if i not in new:
        new.append(i)
    else:
        dup.append(i)

In [166]:
sorted(data.set_index('Suburb').to_dict()['Propertycount'].items(), key= lambda x:x[1],reverse=True)[60:100]

[('Balwyn North', 7809),
 ('Ringwood', 7785),
 ('Caroline Springs', 7719),
 ('Prahran', 7717),
 ('Cranbourne', 7680),
 ('Altona Meadows', 7630),
 ('Footscray', 7570),
 ('Frankston South', 7566),
 ('Pascoe Vale', 7485),
 ('Springvale', 7412),
 ('Wheelers Hill', 7392),
 ('Doreen', 7254),
 ('Toorak', 7217),
 ('Mulgrave', 7113),
 ('Brunswick West', 7082),
 ('Wantirna South', 7082),
 ('Eltham', 6990),
 ('Brighton East', 6938),
 ('Caulfield North', 6923),
 ('Mitcham', 6871),
 ('North Melbourne', 6821),
 ('Bentleigh', 6795),
 ('Carlton', 6786),
 ('Sunshine West', 6763),
 ('Ascot Vale', 6567),
 ('Yarraville', 6543),
 ('Hawthorn East', 6482),
 ('Cranbourne North', 6464),
 ('Deer Park', 6388),
 ('Williamstown', 6380),
 ('Fitzroy North', 6244),
 ('Moonee Ponds', 6232),
 ('Templestowe', 6202),
 ('Mentone', 6162),
 ('Melton West', 6065),
 ('South Melbourne', 5943),
 ('Clayton', 5837),
 ('Roxburgh Park', 5833),
 ('Fitzroy', 5825),
 ('Mernda', 5812)]

In [207]:
data.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,2016-12-03,2.5,3067,2,1,1,202.0,NaN,<NA>,Yarra,-37.7996,144.9984,Northern Metropolitan,4019
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,2016-02-04,2.5,3067,2,1,0,156.0,79.0,1900,Yarra,-37.8079,144.9934,Northern Metropolitan,4019
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,2017-03-04,2.5,3067,3,2,0,134.0,150.0,1900,Yarra,-37.8093,144.9944,Northern Metropolitan,4019
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,2017-03-04,2.5,3067,3,2,1,94.0,NaN,<NA>,Yarra,-37.7969,144.9969,Northern Metropolitan,4019
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,2016-06-04,2.5,3067,3,1,2,120.0,142.0,2014,Yarra,-37.8072,144.9941,Northern Metropolitan,4019

In [208]:
data[colums_with_missing].isnull().sum().sort_values(ascending=False)

BuildingArea    6450
YearBuilt       5375
CouncilArea     1369
Car               62
dtype: int64

In [209]:
y = data.Price
melb_predictors = data.drop(columns='Price')
X = melb_predictors.select_dtypes(exclude='object')

In [210]:
X_train, X_valid, y_train, y_valid = train_test_split(X, y, train_size=0.8, test_size=0.2, random_state=0)

In [211]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error

def score_dataset(X_train, X_valid, y_train, y_valid):
    model = RandomForestRegressor(n_estimators=100, random_state=0)
    model.fit(X_train, y_train)
    preds = model.predict(X_valid)
    return mean_absolute_error(y_valid, preds)

In [212]:
colums_with_missing = [col for col in X.columns if X_train[col].isnull().any()]

In [213]:
colums_with_missing

['Car', 'BuildingArea', 'YearBuilt']

In [217]:
X_train.head()

,Rooms,Date,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount
12167,1,2017-07-29,5.0,3182,1,1,1,0.0,NaN,1940,-37.85984,144.9867,13240
6524,2,2016-09-17,8.0,3016,2,2,1,193.0,NaN,<NA>,-37.85800,144.9005,6380
8413,3,2017-04-08,12.6,3020,3,1,1,555.0,NaN,<NA>,-37.79880,144.8220,3755
2919,3,2016-06-18,13.0,3046,3,1,1,265.0,NaN,1995,-37.70830,144.9158,8870
6043,3,2016-05-22,13.3,3020,3,1,2,673.0,673.0,1970,-37.76230,144.8272,4217

In [219]:
reduced_X_train = X_train.drop(columns=colums_with_missing + ['Date'])
reduced_X_valid = X_valid.drop(columns=colums_with_missing + ['Date'])

score_dataset(reduced_X_train, reduced_X_valid, y_train, y_valid)

175703.48185157913

In [223]:
X_train.drop(columns=['Date'], inplace=True)
X_valid.drop(columns=['Date'], inplace=True)

In [230]:
from sklearn.impute import SimpleImputer

my_imputer = SimpleImputer()

imputed_X_train = pd.DataFrame(my_imputer.fit_transform(X_train))
imputed_X_valid = pd.DataFrame(my_imputer.transform(X_valid))

imputed_X_train.columns = X_train.columns
imputed_X_valid.columns = X_valid.columns

math.ceil(score_dataset(imputed_X_train, imputed_X_valid, y_train, y_valid))

169238

In [242]:
#approach 3

X_train_plus = X_train.copy()
X_valid_plus = X_valid.copy()

for col in colums_with_missing:
    X_train_plus[col + '_was_missing'] = X_train_plus[col].isnull()
    X_valid_plus[col + '_was_missing'] = X_train_plus[col].isnull()

my_imputer = SimpleImputer()

imputed_X_train_plus = pd.DataFrame(my_imputer.fit_transform(X_train_plus))
imputed_X_valid_plus = pd.DataFrame(my_imputer.transform(X_valid_plus))

imputed_X_train_plus.columns = X_train_plus.columns
imputed_X_valid_plus.columns = X_valid_plus.columns

score_dataset(imputed_X_train_plus, imputed_X_valid_plus, y_train, y_valid)

170352.1620444982

In [243]:
imputed_X_train_plus.head()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount,Car_was_missing,BuildingArea_was_missing,YearBuilt_was_missing
0,1.0,5.0,3182.0,1.0,1.0,1.0,0.0,153.764119,1940.000000,-37.85984,144.9867,13240.0,0.0,1.0,0.0
1,2.0,8.0,3016.0,2.0,2.0,1.0,193.0,153.764119,1964.839866,-37.85800,144.9005,6380.0,0.0,1.0,1.0
2,3.0,12.6,3020.0,3.0,1.0,1.0,555.0,153.764119,1964.839866,-37.79880,144.8220,3755.0,0.0,1.0,1.0
3,3.0,13.0,3046.0,3.0,1.0,1.0,265.0,153.764119,1995.000000,-37.70830,144.9158,8870.0,0.0,1.0,0.0
4,3.0,13.3,3020.0,3.0,1.0,2.0,673.0,673.000000,1970.000000,-37.76230,144.8272,4217.0,0.0,0.0,0.0

In [237]:
X_train_plus['XXX'] = X_train_plus['YearBuilt'].isnull()

In [244]:
X_train_plus.head()

,Rooms,Distance,Postcode,Bedroom2,Bathroom,Car,Landsize,BuildingArea,YearBuilt,Lattitude,Longtitude,Propertycount,Car_was_missing,BuildingArea_was_missing,YearBuilt_was_missing
12167,1,5.0,3182,1,1,1,0.0,NaN,1940,-37.85984,144.9867,13240,False,True,False
6524,2,8.0,3016,2,2,1,193.0,NaN,<NA>,-37.85800,144.9005,6380,False,True,True
8413,3,12.6,3020,3,1,1,555.0,NaN,<NA>,-37.79880,144.8220,3755,False,True,True
2919,3,13.0,3046,3,1,1,265.0,NaN,1995,-37.70830,144.9158,8870,False,True,False
6043,3,13.3,3020,3,1,2,673.0,673.0,1970,-37.76230,144.8272,4217,False,False,False